.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  padding: 0 10px;
}

.statistics {
  display: flex;
}

.result button {
  margin-top: 1rem;
}